<div class="jumbotron text-center col-xs-12">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>  
    <div id="queryParams" class="col-xs-3">
        <div class="col-lg-12 view-container">
            <div class="row header">
                <div class="col-xs-8">Query Parameters</div>
                <div class="col-xs-4">
                    <button ng-click="buildGraph()">Execute</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">Start Date</div>
                <div class="col-xs-4">
                    <input type="date" ng-model="startDate" class="col-xs-12">
                </div>
                <div class="col-xs-2">End Date</div>
                <div class="col-xs-4">
                    <input type="date" ng-model="endDate" class="col-xs-12">
                </div>
            </div>
            <div class="row" ng-repeat="(name, item) in listdata">
                <div class="col-xs-4 param-leftCol">{{name}}</div>
                <div class="col-xs-8 param-rightCol">
                    <select ng-model="item.selected" ng-options="itemValue[name] for itemValue in item.values" ng-change="changeTestType()" >
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="col-xs-12">
            <div class="col-xs-12 view-container">
                <div class="row header">Histogram
                    <button ng-click="importSVG('histogram')">Export Graph</button>
                </div>
                <div>{{histogramTitle}}</div>
                <div id="histogram"></div>
                <div id="histLineGraph"></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row graph-row">
                <div id="view1" ui-view="view1-left" class="Container col-lg-6"></div>
                <div id="view2" ui-view="view2-right" class="Container col-lg-6"></div>
            </div>
            <div class="row graph-row">
                <div id="view3" ui-view="view3-bottom" class="Container col-lg-12"></div>
            </div>
        </div>
    </div>
    <div id="tooltipUni" class="opaque d3-tip">
            <p><strong>Important Label Heading</strong>
            </p>
            <p><span id="value">100</span></p>
        </div>
</div>
